<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <style>
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1,
        h2,
        h3 {
            font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
    <title>Pop!</title>
</head>

<body class="w3-flat-belize-hole">
    <div class="w3-container w3-row">
        <div class="w3-container w3-col l5">
            <div class="w3-container w3-panel w3-flat-emerald">
                <h1>Welcome to Pop!</h1>
            </div>
            <div class="w3-container w3-panel w3-flat-emerald">
                <h2>A website for suggesting names!</h2>
            </div>
            <div class="w3-container w3-panel w3-flat-emerald">
                <a href="/submit" class="w3-container w3-section w3-btn w3-flat-peter-river">
                    <h3>Submit a new name</h3>
                </a>
            </div>
        </div>

        <div class="w3-container w3-col l7">
            <div class="w3-panel w3-container w3-flat-emerald">
                <div>
                    <p>Submissions:</p>
                </div>
            </div>
            <div class="w3-container w3-panel w3-flat-emerald">
                {{range .Suggestions}}
                <div class="w3-panel w3-container w3-cell-row w3-mobile w3-flat-peter-river">
                    <div class="w3-container w3-cell w3-mobile">{{.Name}}</div>
                    <div class="w3-container w3-cell w3-mobile">{{.Count}}</div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>
