<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/assets/index.css" rel="stylesheet" />
    <title>Pop!</title>
  </head>

  <body>
    <div class="app-container">
      <div class="title">
        <p>Welcome to Pop!</p>
        <p>A website for suggesting names!</p>
        <a href="/submit">Submit a new name</a>
      </div>

    <div class="sview">
      <div class="sview_header"><p>Submissions:</p></div>
      <div class="sview_list">
        {{range .Suggestions}}
        <div>
          <div>{{.Name}}</div>
          <div>{{.Count}}</div>
        </div>
        {{end}}
      </div>
    </div>
    </div>
  </body>
</html>
