<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-colors-flat.css"
    />
    <title>Pop! | Submit</title>
  </head>
  <body class="w3-flat-peter-river">
    <div class="">
      <a href="/"
        ><button class="w3-margin w3-btn w3-flat-emerald">Back</button></a
      >
    </div>
    <div class="w3-container">
      <div class="w3-container w3-panel w3-section w3-flat-emerald">
        <form action="/submit" method="post" class="w3-container w3-padding">
          <label>Name</label>
          <input type="text" name="name" class="w3-input w3-border" />
          <br />
          <!-- Password: 
            <input type="password" name="pass">
            <br/> -->
          <input
            type="submit"
            name="submit"
            value="Suggest"
            class="w3-btn w3-flat-peter-river"
          />
        </form>
      </div>
    </div>
    <script src="/assets/submit.js"></script>
  </body>
</html>
