<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pop! | Submit</title>
</head>
<body>
    <div>
        <div><form action="/submit" method="post">
            Name: 
            <input type="text" name="name">
            <br/>
            <!-- Password: 
            <input type="password" name="pass">
            <br/> -->
            <input type="submit" name="submit">
        </form>
        </div>
        <div>
            <button onclick="BackButtonCallback()">Back</button>
        </div>
    </div>
    <script src="/assets/submit.js"></script>
</body>
</html>
